/* nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

nav ul li {
    padding: 10px 20px;
    background: white;
    margin: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
} */

.navigation {
    color: white;
}